<h1>Page not found</h1>

<p>The page you have requested doesn't exist. This is probably because a link you clicked on doesn't work, or you accidentally changed something in the web address.</p>

<p><strong>Don't worry!</strong> To continue, <a routerLink="/">click here</a> to return to the home page.</p>

<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Think something is broken?</mat-panel-title>
        </mat-expansion-panel-header>

        <p>If you think you got to this page because a link you clicked on is broken, or you've found another issue with the site, please report the issue so that it can be fixed in a future version.</p>

        <p>For instructions on how to do so, click the button below. We appreciate your support.</p>

        <a mat-stroked-button color="primary" routerLink="/about">Contact info</a>
    </mat-expansion-panel>
</mat-accordion>
