<h1>About this site</h1>

<p>
    This website was developed to allow spectators of The Manchester Grammar School's annual Senior Sports Day to view results, events, and competitors in these events. It is a collaborative effort between the Computer Science and PE departments of the school, the staff responsible in each department being Mr D Millington and Mr T Grainger respectively. It is hoped that students, parents and staff will find this website beneficial. It works by fetching data from a database and displaying it in a clear fashion, following Material Design concepts.
</p>

<h1>How it works</h1>
<p>
    This website is written with <a class="no-link-blue" href="https://angular.io" target="_blank">Angular 7</a>, as well as a <a class="no-link-blue" href="https://rubyonrails.org/" target="_blank">Ruby on Rails</a> backend, which controls a <a class="no-link-blue" href="https://www.postgresql.org/" target="_blank">PostgreSQL</a> relational database. The Angular frontend is written in <a class="no-link-blue" href="https://www.typescriptlang.org/" target="_blank">TypeScript</a>, which is a 'typed superset' of JavaScript - it simply compiles into plain JavaScript, but makes the developer's life easier. Ruby on Rails is practically perfect for making simple JSON APIs like the one required for this website, which almost completely automatically serve objects from a database. Rails is also considerably fast, and is written in Ruby which is a very modern and adequate programming language.
</p>

<p>
    In many ways, this system can be considered an improvement over last year's website. In 2018, we used Angular<strong>JS</strong> (Angular's non-CLI predecessor) to fetch data from a Google Sheet using their API. This was in many ways messy and quite slow, and was a slightly 'hacky' way of simulating a relational database. We used a spreadsheet primarily to avoid having to set up a backend with a proper database, which could have caused instabilities.
</p>

<p>
    Finally, this website is styled with <a href="https://material.angular.io/" target="_blank" class="no-link-blue">Angular Material</a>, which is perfect for websites used primarily on mobile devices. We think it looks quite pretty.
</p>

<h1>Development credits</h1>

<p>
    This website was developed by two students of The Manchester Grammar School: Theodore Tucker and Pal Kerecsenyi, under the guidance of Mr D Millington, the Head of Computer Science. This project is entirely open source, and the source code is available on GitHub here: <a href="https://github.com/mgs-sports-day" class="no-link-blue" target="_blank">https://github.com/mgs-sports-day</a>. By using this site, you understand that it is licensed under the terms of the <a href="https://www.gnu.org/licenses/gpl-3.0.txt" class="no-link-blue">GNU General Public License v3.0</a>, and thus understand that <strong>NO WARRANTY WHATSOEVER</strong> is provided.
</p>

<h1>Contact</h1>
