<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav position="end" mode="over" [(opened)]="sidenavOpened">

        <mat-toolbar color="primary">
            <span>Menu</span>
        </mat-toolbar>

        <mat-nav-list>
            <mat-list-item *ngFor="let item of navigation">
                <a matLine [routerLink]="item.path">
                    {{ item.name }}
                </a>
            </mat-list-item>
        </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>

        <mat-toolbar color="primary" class="nav">
            <span>MGS Sports Day</span>

            <span class="nav-filler"></span>

            <div *ngIf="!mobile">

                <a mat-button *ngFor="let item of navigation" [routerLink]="item.path">
                    {{ item.name }}
                </a>

            </div>

            <button mat-icon-button *ngIf="mobile" (click)="sidenav.toggle()">
                <mat-icon>
                    menu
                </mat-icon>
            </button>
        </mat-toolbar>

        <div class="main-container">
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>

