<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav position="end" mode="over" [(opened)]="sidenavOpened">

        <mat-toolbar color="primary">
            <span>Menu</span>
        </mat-toolbar>

        <mat-nav-list>
            <mat-list-item *ngFor="let item of navigation">
                <a matLine [routerLink]="item.path" (click)="sidenav.toggle()">
                    {{ item.name }}
                </a>
            </mat-list-item>
        </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>

        <mat-toolbar color="primary" class="nav">
            <a routerLink="/" class="no-link">
                <div>
                    <img src="assets/mgs_white_logo.svg" alt="White MGS logo">
                    <span class="nav-text">Sports Day 2019</span>
                </div>
            </a>

            <span class="nav-filler"></span>

            <button mat-icon-button *ngIf="mobile" (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>

            <div *ngIf="!mobile">

                <a mat-button *ngFor="let item of navigation" [routerLink]="item.path">
                    {{ item.name }}
                </a>

            </div>
        </mat-toolbar>

        <div class="main-container">
            <mat-card style="text-align: center; margin-bottom: 10px;" matTooltip="Data is automatically reloaded every 120 seconds on some pages, to keep the website up to date with live changes.">
                <div *ngIf="reloadEnabled">
                    Data reloading in <strong>{{ reloadTime }} seconds</strong>

                    <mat-progress-spinner
                        mode="determinate"
                        [value]="(reloadTime / defaultReloadTime) * 100"
                        diameter="16"
                        style="margin-top: 10px;"
                        class="inline-spinner"></mat-progress-spinner>
                </div>

                <div *ngIf="!reloadEnabled">
                    Auto-reloading paused on this page
                </div>
            </mat-card>

            <router-outlet></router-outlet>

            <mat-divider></mat-divider>
            <p class="footer-text">This website is part of a family of co-curricular sites run by students and staff of the Manchester Grammar School. The main school website is at <a href="https://mgs.org" target="_blank" class="no-link-dark">mgs.org.</a></p>
            <p class="footer-text">
                <a routerLink="/admin" class="no-link-dark">Admin</a>
            </p>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>

